/* Semantic color variables for this project */
:root {
  --color-background: var(--color-background-light);
  --color-background-soft: var(--color-primary-black);
  --color-background-mute: var(--color-secondary-black);

  --color-border: var(--color-border);
  --color-border-hover: var(--color-text-dark);

  --color-heading: var(--color-text-light);
  --color-text: var(--color-text-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-background-soft: var(--color-primary-black);
    --color-background-mute: var(--color-secondary-black);

    --color-border: var(--color-border);
    --color-border-hover: var(--color-text-dark);

    --color-heading: var(--color-text-light);
    --color-text: var(--color-text-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}

@keyframes count-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-count-up {
  animation: count-up 0.3s ease-in-out forwards;
}

@keyframes background-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-background-pan {
  background-size: 200% 100%; /* Make background larger to allow panning */
  animation: background-pan 15s linear infinite;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fade-in-right 0.5s ease-out forwards;
}

.bg-blur-navy {
  background-color: rgba(0, 0, 128, 0.8); /* Semi-transparent navy */
  backdrop-filter: blur(10px); /* Blur effect */
}






